{% extends "chat/base.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-3">
                    <img  class="w-100 img-fluid" src="https://www.fakepersongenerator.com/Face/male/male20161083825452301.jpg">
            </div>
            <div class="col-9">
                <h1> Vadim </h1>
            </div>
        </div>

        <div class="text-justify m-5 border">
            <p class="font-weight-bold ">John:</p> Hey, wanna party tonight?
        </div>

        <div class="text-justify m-5 border">
            <p class="font-weight-bold ">You:</p> Sure, where you wanna go?
        </div>
        
    </div>
    
    
{% endblock content %}